<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  
  <script>
    /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_html_include_1 */
    function includeHTML() {
      var z, i, elmnt, file, xhttp;
      /*loop through a collection of all HTML elements:*/
      z = document.getElementsByTagName("*");
      for (i = 0; i < z.length; i++) {
        elmnt = z[i];
        /*search for elements with a certain atrribute:*/
        file = elmnt.getAttribute("w3-include-html");
        if (file) {
          /*make an HTTP request using the attribute value as the file name:*/
          xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4) {
              if (this.status == 200) {elmnt.innerHTML = this.responseText;}
              if (this.status == 404) {elmnt.innerHTML = "Plot not found";}
              /*remove the attribute, and call this function once more:*/
              elmnt.removeAttribute("w3-include-html");
              includeHTML();
            }
          }      
          xhttp.open("GET", file, true);
          xhttp.send();
          /*exit the function:*/
          return;
        }
      }
    };
  </script>
  
  <style>
    .topnav {
      overflow: hidden;
      background-color: transparent;
    }
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 0px 10px;
      text-decoration: underline overline #157878;
      font-size: 16px;
    }
    .topnav a:hover {
      background-color: transparent;
      color: black;
    }
  </style> 
  
  <head>
    <meta charset="UTF-8"> 
    <title>Who feeds the world? And how wealthy are they?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="google-site-verification" content="ohByZQJx9EYQ7Po92WxVz1fvVDkQqgI6U5wQZ_7mKBY" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">   
  </head>
  
  <body>
    <header class="page-header" role="banner">
      <div class="topnav">
        <a href="#intro">Introduction</a>
        <a href="#dataset">About the dataset</a>
        <a href="#features">Most important agricultural and economical features</a>
        <a href="#production">Global production</a>
        <a href="#balances">Global trade balances</a>
        <a href="#selfsufficiency">Self-sufficiency</a>
        <a href="#conclusion">Conclusion</a>
      </div>
      <h1 class="project-name">Who feeds the world? And how wealthy are they?</h1>
      <h2 class="project-tagline">A visual analysis of the effects that a countries agricultural sector has on its economic indicators</h2>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">
          This data story is a part of our project for the class <a href="https://edu.epfl.ch/coursebook/en/applied-data-analysis-CS-401">Applied Data Analysis (CS-401) at EPFL</a> for Fall semester 2019.
          <br>          
          By <a href="https://people.epfl.ch/julien.muster">Julien Muster</a> (Life Sciences), <a href="https://people.epfl.ch/martin.everaert">Martin Nicolas Everaert</a> (Computer Science), <a href="https://people.epfl.ch/natalija.ljubic">Natalija Ljubic</a> (Electrical and Electronical Engineering), <a href="https://people.epfl.ch/paul.jeha">Paul Jeha</a> (Management of Technology and Entrepreneurship)
          <br>         
          <a href="https://martin-ev.github.io/Who-feeds-the-world">martin-ev.github.io/Who-feeds-the-world</a>
          <br>          
          <a href="https://github.com/martin-ev/ADA-project">GitHub repository with detailed analysis/methodology in a Jupyter Notebook</a>
          <br>          
          Published on Dec. 20, 2019
          <br>          
          <a href="https://pages.github.com">GitHub Pages</a>, <a href="https://github.com/pages-themes/cayman">Cayman theme</a>.</span>
      </footer>
    </main>
    
    <script>
      includeHTML();
    </script>
    
  </body>
</html>
